/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */
 atom-text-editor {
   text-rendering: optimizeLegibility;
 }

.theme-one-light-ui {
  .tab-bar .tab.active { font-weight: bold; }
  .tree-view { font-size: 110%; }
  .status-bar a:focus { color: orange; }
}

@bg-uncleared: fadeout(@ui-site-color-3, 90%);
@bg-pending: fadeout(@ui-site-color-5, 90%);

atom-text-editor::shadow {
  .string.payee.transaction   { font-weight: bold; }
  .constant.other.symbol.code { font-weight: bold; }
  .ledger-transaction-uncleared .region { background: @bg-uncleared; }
  .ledger-transaction-pending   .region { background: @bg-pending; }
}
